@charset "UTF-8";

table { width: 800px;margin: 100px auto; }
th, td { border: 1px solid #000;padding: 30px;text-align: center; }
thead th { padding: 15px 30px; }
thead td { padding: 5px 30px; }
button, select { padding: 5px; }
.sun { color: #fc4c4e; }
.sel { background-color: #ffffd9; }

main.dark_mode td.sel { color: #000; } 