@charset "UTF-8";

#container ul li{line-height: 1;font-size: 12px;list-style-type: none;word-break: break-all;color: inherit;box-sizing: border-box;margin: 10px 0;padding: 0;max-width: 100%;border: 0;font-family: noto sans;font-weight: 400;letter-spacing: 0;}