@charset "UTF-8";

:root {
	--main-color: #20232a;
	--main-nav-color: #282c34;

	--kakao-map-color: #fee101;
	--kakao-map-nav-color: #ffff58;
	--kakao-nav-menu-text-color: #000;
	
	--heesoo-color: #fade11;
	--heesoo-nav-color: #fade11;
	--jiwon-color: #ffcc66;
	--jiwon-nav-color: #ffd480;
	--henry-color: #99CED3;
	--henry-nav-color: #4D6D9A;
	--minkyu-color: #50586C;
	--minkyu-nav-color: #6A7BA2;
	--wooram-color: #6E6E6D;
	--wooram-nav-color: #FAD0C9;
	--yongsoon-color: #ffff00;
	--yongsoon-nav-color: #ffcc00;

	--a-color: #0033ac;
	--a-visited-color: #99209b;

	--dark-mode-color: #1e1f21;
	--dark-mode-button-color: #53575c;
}

header { width: 100%;height: 80px;float: left;background-color: var(--main-color); }
nav { width: 100%;height: 114px;float: left;background-color: var(--main-nav-color); }
main { width: 100%;min-height: 1000px;float: left; }
footer { width: 100%;height: 80px;clear: both;;background-color: var(--main-color); }
.base_wrap { position:relative;max-width: 1500px;margin: 0 auto; }
header .base_wrap { height: 80px; }
nav .base_wrap { height: 114px; }
main .base_wrap { min-height: 550px; }
footer .base_wrap { height: 80px; }

#logo { position: absolute;top: 5px;left: 20px;z-index: 10; }
#logo a { color: #fff;display: block;padding: 5px; }
#searchType { width: 110px; }
#menu { position: absolute;top: 30px;right: 50px; }
#menu li { float: left;padding: 15px; }
#menu li a { color: #fff; }
#menu.kakaoMap li a { color: var(--kakao-nav-menu-text-color) !important; }
#copyright { position: absolute;bottom: 20px;right: 20px;color: #fff;margin-bottom: 0; }

.dark_mode { background-color: var(--dark-mode-color) !important;color: #fff !important; }

header #member { position: absolute;top: 10px;right: 10px;z-index: 10; }
header #member > li { float: left;padding: 10px;color: #fff !important; }
header #member > li > a { color: #fff !important; }
header.kakaoMap #member > li > a { color: var(--kakao-nav-menu-text-color) !important; }

header div.search_wrap { position: absolute;top: 20px;left: 0;width: 100%;text-align: center; }
header div.search_wrap div.search_event_wrap { display: inline-block; }
#search { width: 300px;background-color: #20232a;padding: 10px 20px;border: none;border-radius: 5px;color: #fff; }
header.kakaoMap #search { background-color: var(--kakao-map-color) !important; }
header.heesoo #search { background-color: var(--heesoo-color) !important; }
header.jiwon #search { background-color: var(--jiwon-color) !important; }
header.henry #search { background-color: var(--henry-color) !important; }
header.minkyu #search { background-color: var(--minkyu-color) !important; }
header.wooram #search { background-color: var(--wooram-color) !important; }
header.yongsoon #search { background-color: var(--yongsoon-color) !important; }
#search:focus, #search.enable { background-color: #373940; }
header.kakaoMap #search:focus, header.kakaoMap #search.enable, header.heesoo #search:focus, header.heesoo #search.enable, header.jiwon #search:focus, header.jiwon #search.enable, header.henry #search:focus, header.henry #search.enable, header.minkyu #search:focus, header.minkyu #search.enable, header.wooram #search:focus, header.wooram #search.enable, header.yongsoon #search:focus, header.yongsoon #search.enable { background-color: #373940 !important; }
/* Chrome, Firefox, Opera, Safari 10.1+ */
/* Firefox */
#search::placeholder { color: #fff;opacity: 1; }
/* Internet Explorer 10-11 */
#search:-ms-input-placeholder { color: #fff; }
/* Microsoft Edge */
#search::-ms-input-placeholder { color: #fff; }
#darkMode > button { position: fixed;bottom: 50px;right: 50px;width: 120px;height:50px;border-radius: 25px;background-color: #fff;border: none;background-color: #efefef; }
#darkMode > button:hover { background-color: #53575c; }
#darkMode > button:focus { outline: none; }
#darkMode > button.dark_mode { background-color: #333638 !important;color: #fff; }
#darkMode > button.dark_mode:hover { background-color: #404040 !important; }

/* #fade11, #ff974b, #6565f0, #95236b, #f065c2, #f54f01 */
header.kakaoMap, footer.kakaoMap { background-color: var(--kakao-map-color) !important; }
nav.kakaoMap { background-color: var(--kakao-map-nav-color) !important; }

header.heesoo, footer.heesoo { background-color: var(--heesoo-color); }
nav.heesoo { background-color: var(--heesoo-nav-color); }
header.jiwon, footer.jiwon { background-color: var(--jiwon-color); }
nav.jiwon { background-color: var(--jiwon-nav-color); }
header.henry, footer.henry { background-color: var(--henry-color); }
nav.henry { background-color: var(--henry-nav-color); }
header.minkyu, footer.minkyu { background-color: var(--minkyu-color); }
nav.minkyu { background-color: var(--minkyu-nav-color); }
header.wooram, footer.wooram { background-color: var(--wooram-color); }
nav.wooram { background-color: var(--wooram-nav-color); }
header.yongsoon, footer.yongsoon { background-color: var(--yongsoon-color); }
nav.yongsoon { background-color: var(--yongsoon-nav-color); }