@charset "UTF-8";

#demo > div.carousel-inner > div.carousel-item > img { width: 100%;height: 270px; }

div.flexWeap { display: flex; }
div.flexWeap div.left, div.flexWeap div.right { width: 50%; }

div.covidWrrap > h4, div.weatherWrap > h4 { text-align: center; }

#covidLoding, #weatherLoding { height: 121px;line-height: 121px;text-align: center; }

ul.covidInfo { margin: 0;height: 121px; }
ul.covidInfo li { display: inline-block;width: 24.5%;padding: 10px 0;text-align: center; }
ul.covidInfo li .info_title { display: block;margin-top: 1px;font-size: 1.3rem;line-height: 1.8rem;letter-spacing: -0.8px;font-weight: normal; }
ul.covidInfo li .info_num { margin-top: 5px;font-size: 1.8rem;line-height: 2.2rem;font-weight: bold;letter-spacing: -0.4px; }
ul.covidInfo li .info_variation { display: block;margin-top: 7px;line-height: 1rem;font-size: 1.1rem;letter-spacing: 0.4px; }
ul.covidInfo li.info_01 .info_title, ul.covidInfo li.info_01 .info_num, ul.covidInfo li.info_01 .info_variation { color: #e52c0c; }
ul.covidInfo li.info_02 .info_title, ul.covidInfo li.info_02 .info_num, ul.covidInfo li.info_02 .info_variation { color: #eb9415; }
ul.covidInfo li.info_03 .info_title, ul.covidInfo li.info_03 .info_num, ul.covidInfo li.info_03 .info_variation { color: #4f7ae4; }
ul.covidInfo li.info_04 .info_title, ul.covidInfo li.info_04 .info_num, ul.covidInfo li.info_04 .info_variation { color: #4f4f52; }
ul.covidInfo li .info_variation::after { content: '';display: inline-block;vertical-align: top;margin: 6px 0 0 3px;width: 8px;height: 5px;background: url(/static/front/img/covid_ico.png) no-repeat;background-size: 60px 50px;-webkit-background-size: 60px 50px; }
ul.covidInfo li.info_01 .info_variation::after { background-position: 0 0; }
ul.covidInfo li.info_02 .info_variation::after { background-position: -30px 0; }
ul.covidInfo li.info_03 .info_variation::after { background-position: -10px 0; }
ul.covidInfo li.info_04 .info_variation::after { background-position: -20px 0; }
ul.covidInfo li.info_01 .info_variation.down::after { background-position: 0 -7px; }
ul.covidInfo li.info_02 .info_variation.down::after { background-position: -30px -7px; }
ul.covidInfo li.info_03 .info_variation.down::after { background-position: -10px -7px; }
ul.covidInfo li.info_04 .info_variation.down::after { background-position: -20px -7px; }

ul.weatherInfo { margin: 0;height: 121px; }
ul.weatherInfo > li { float: left;line-height: 50px;padding: 0 5px; }
ul.weatherInfo > li > div.wind { display: inline-block; }
ul.weatherInfo > li svg { height: 15px; }