@charset "UTF-8";

#wrap main { background-color: #f5f6f7; }

#wrap div.title { text-align: center;margin-top: 50px; }
#wrap div.title > h1 { font-size: 5em;font-weight: bold; }
#wrap div.title > h1 > a { color: var(--main-color); }
#wrap div.title > h1 > a:hover { text-decoration: none; }
#wrap main.dark_mode div.title > h1 > a { color: #fff; }

#wrap fieldset { width: 460px;padding: 50px 0;text-align: center;margin: 0 auto; }
#wrap fieldset > legend { display: none; }
#wrap fieldset input[type=checkbox] { vertical-align: middle; }

#wrap div.field { margin-bottom: 10px; }
#wrap div.field > input.login { width: 460px;height: 48px;padding: 10px; }
#wrap div.field > input[type=submit] { background-color: var(--main-nav-color);color: #fff;border: none;height: 48px; }

#errId, #errMsg, .errMsg { color: red; }

#wrap fieldset.terms { width: 460px;margin: 0 auto; }
#wrap fieldset.terms > div.terms { width: 460px;height: 88px;overflow: auto;border: 1px solid #000;text-align: left;padding: 10px;background-color: #fff !important;color: #000 !important; }
#wrap fieldset.terms > div.field input[type=checkbox] { vertical-align: middle; }
#wrap fieldset.terms > div.field input.termsBtn { width: 225px;height: 48px;border: none;color: #fff; }
#wrap fieldset.terms > div.field > a > input.termsBtn { background-color: #8e8e8e; }
#wrap fieldset.terms > div.field > input.termsBtn { background-color: var(--main-nav-color); }

#wrap fieldset { text-align: left; }
#wrap fieldset.join > div.field > input { width: 460px;height: 48px;padding: 10px; }

#wrap table.memberInfo { width: 700px;margin: 200px auto 200px auto; }
#wrap table.memberInfo th, #wrap table.memberInfo td { padding: 10px;border: 1px solid #000; }
#wrap table.memberInfo th { width: 20%; }
#wrap table.memberInfo th:first-child { text-align: center; }
#wrap table.memberInfo td { width: 80%; }

#wrap main.dark_mode table.memberInfo th, #wrap main.dark_mode table.memberInfo td { border: 1px solid #fff; }