@charset "UTF-8";

.base_wrap{	padding-left:50px; width:100%;}
.base_wrap #container{margin:auto;width: 60%;}
.base_wrap #container #con_nav{	height:50px;}
.base_wrap #container h6{	font-weight: 900;}
.base_wrap #container #con_nav a div{ float:left; width: 80px; border-bottom: 1px solid #cccccc; font-size: 15px; text-align: center; color: black; font-weight: 500;}
.base_wrap #container #con_nav a div:hover{	border-bottom: 1px solid #5F0080; color: #5F0080; font-weight: 800;}
.base_wrap #container #con_nav a .div_select{ border-bottom: 1px solid #5F0080;	color: #5F0080;	font-weight: 800;}
.base_wrap #container #incontainer{ clear:both; width: 100%;}

#container table{	margin-left:0px;}

#container #main_list{ width: 490px; height: 560px; border: solid 1px #cccccc;margin-bottom: 30px;cursor: pointer;}
#container #main_list #main_jpg{width: 100%;}
#container #main_list #main_jpg img{width: 100%;}
#container #main_list #main_title { margin-top: 15px; margin-left: 20px; font-size: 25px; font-weight: 500; color: #484848;}

#container #incontainer #search{border-collapse: collapse;border-spacing: 0;word-break: break-all;box-sizing: border-box;font: inherit;margin: 0;font-family: noto sans,malgun gothic,AppleGothic,dotum;letter-spacing: -.05em;font-size: 12px;max-width: 100%;height: 34px;line-height: 34px;width: 220px;border: 1px solid #bfbfbf;color: #000;padding: 4px;margin-bottom:10px;}
#container #incontainer input[type=submit]{font-family: noto sans,malgun gothic,AppleGothic,dotum;line-height: 1;letter-spacing: -.05em;border-collapse: collapse;border-spacing: 0;font-size: 25px;word-break: break-all;color: white;vertical-align: middle;box-sizing: border-box;margin: 0;padding: 0;padding-bottom:10px;max-width: 100%;width:35px;height:35px;border: 0;margin-right:35px;background: #5f0080;}