@charset "UTF-8";

:root {
	--image-background-color: #fafbfc;
	--image-border-color: #ededed;
	--image-thum-width: 179px;
	--image-thum-height: 150px;
}

#imageView { position: fixed;top: 500px;left: 0;width: 100%;height: 600px;text-align: center;background-color: #000000;line-height: 600px;overflow: hidden; }
#imageView img { max-height: 500px;vertical-align: middle; }
#imageView span { position: absolute;top: 10px; right: 10px;color: #fff;font-size: 35px;font-weight: bold;cursor: pointer;line-height: 35px; }

main div.base_wrap h5 { margin-top: 50px;border-bottom: 2px solid #c9cbcc;padding-bottom: 10px; }
main div.base_wrap ul.sort li { float: left;padding: 5px 10px 5px 0; }
main div.base_wrap ul.list { width: 100%;float: left;margin-top: 10px; }
main div.base_wrap ul.list li dt > a { color: var(--a-color); } 
main div.base_wrap ul.list li dt > a:visited { color: var(--a-visited-color); } 

main div.base_wrap ul.list li.image { width: auto;float: left; } 
main div.base_wrap ul.list li.image > a > img { width: var(--image-thum-width);height: var(--image-thum-height);margin: 4px;border: 1px solid var(--image-border-color); }

main div.base_wrap ul.list li.movie { width: auto;float: left;margin-bottom: 21px; } 
main div.base_wrap ul.list li.movie > p { display: block;float: left;width: 110px;height: 157px;margin-right: 13px;background: #9f9f9f;vertical-align: middle; } 
main div.base_wrap ul.list li.movie > dl { overflow: hidden; } 
main div.base_wrap ul.list li.movie > dd { overflow: visible;position: relative; } 
main div.base_wrap ul.list li.movie > dd > span { display: inline-block;background: url(/view/img/star.png) no-repeat 0 0 transparent;font-size: 0;height: 12px;line-height: 0;position: relative;width: 73px;margin-right: 3px; } 
main div.base_wrap ul.list li.movie > dl > dd.point > span.star > em.view_star { display: block;background: url(/view/img/star.png) no-repeat 0 -14px transparent;height: 100%;left: 0;position: absolute;top: 0; } 

main div.base_wrap > div.moreWrap { width: 100%;height: 39px;border: 1px solid #dedede;line-height: 39px;float: left;margin: 20px 0 50px;text-align: center; }
main div.base_wrap > div.moreWrap > a { width: 100%;height: 39px;display: inline-block; }