@charset "UTF-8";

:root {
	--main-color: #5f0080;
}

#wrap { display: flex;flex-direction: column; }
#wrap > header { min-width: 1050px;height: 198px; }
#wrap > main { min-width: 1050px; }
#wrap > footer { min-width: 1050px; }
#wrap div.base_wrap { max-width: 1050px;margin: 0 auto; }
#wrap > main { min-width: 1050px;border-bottom: 1px solid #f7f7f7 }
div.wrap-container { width: 100%;height: 100%;max-width: 1050px;margin: 0 auto; }